<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="QAlegendTestCases.Listeners"></listener>
</listeners>
<parameter name="Browser" value="Chrome"/>
<!-- <groups>
  <run>
  <include name="smoketest"></include>
  </run>
  </groups> -->
  <test thread-count="5" name="Test" parallel="methods">
   <classes>
      <class name="QAlegendTestCases.TestCases">
      <methods>
       <include name="createUser"></include>
       <include name="addRole"></include>
       <include name="commissionPage"></include>
       <include name="contactsPage"></include>
       <include name="customersPage"></include>
       <include name="variationPage"></include>
       <include name="brandsPage"></include>
        <include name="customersGroupsPage"></include>
      </methods>
      </class>
   </classes>
  </test>
</suite>
